<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
  <div class="d-flex justify-content-center">
    <img src="{{ url_for('static', filename='images/cellary logo.png') }}" alt="Cellary Logo" class="logo">
</div>
  <ul class="nav nav-pills justify-content-center">
    <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="inventory">Inventory</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="recipes">Recipes</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link active" data-toggle="pill" href="about">About</a>
    </li>
  </ul>
  <div class="container">
    <h1 class="header-title">About Cellary</h1>
    <p>
        Cellary is a Flask-based web application that uses image detection to identify groceries in an image. It can help users keep track of their groceries and shows the ingredients that are available in the user's inventory when viewing a recipe.
    </p>
    <p>
        The application uses a pre-trained model and Roboflow Influence to detect groceries in an image. The detected groceries are then displayed to the user, along with the quantity of each item, and added to the user's inventory. The user also has the option to manually add items to the inventory.
    </p>
  </div>
</body>
</html>
