<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="inventory">Inventory</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="recipes">Recipes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
          </ul>
        </div>
    </nav>
    <div class="container">
        <img src="{{ url_for('static', filename='images/cellary logo.png') }}" alt="Cellary Logo" class="logo">
        <h1>Image Detection</h1>
        <p>Please upload an image of the groceries you want to detect!</p>
        <form method="POST" enctype="multipart/form-data" class="upload-form">
            <input type="file" name="file" required aria-label="Upload your groceries image">
            <button type="submit" class="btn btn-primary upload-button">Upload Groceries</button>
        </form>

        <!-- Button to go to inventory page if a file has been uploaded -->
        {% if session.get('detected_items') %}
            <a href="{{ url_for('inventory') }}" class="btn btn-success inventory-button">Go to Inventory</a>
        {% endif %}
    </div>
</body>
</html>
