<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <title>Detected Groceries</title>
</head>
<body>
    <div class="d-flex justify-content-center">
        <img src="{{ url_for('static', filename='images/cellary logo.png') }}" alt="Cellary Logo" class="logo">
    </div>
    <ul class="nav nav-pills justify-content-center">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link active" data-toggle="pill" href="inventory">Inventory</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="recipes">Recipes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="about">About</a>
        </li>
    </ul>
    <div class="container">
        <h1 class="header-title">Detected Groceries</h1>
        
        {% if result %}
            <ul class="grocery-list">
                {% for item, details in result.items() %}
                    <li>{{ item }}: Quantity: {{ details.count }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p class="no-items-message">No groceries detected. Please try again.</p>
        {% endif %}
        
        <a href="/" class="upload-link">Upload More Groceries</a>
    </div>
</body>
</html>
