<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
  <div class="d-flex justify-content-center">
    <img src="{{ url_for('static', filename='images/cellary logo.png') }}" alt="Cellary Logo" class="logo">
</div>
  <ul class="nav nav-pills justify-content-center">
    <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="inventory">Inventory</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link active" data-toggle="pill" href="recipes">Recipes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="about">About</a>
    </li>
</ul>

<div class="card" style="width: 150px;">
  <img src="{{ url_for('static', filename='images/cellary logo.png') }}" style="background-color: #bfd1bfe4;color: #bfd1bfe4;"class="card-img-top" alt="banana.png">
  <div class="card-body" style="background-color: #bfd1bfe4;">
    <h5 class="card-title">Card title</h5>
    <p class="card-text"> Recipe.</p>
    <a href="#" >
    <div class="col l2 m2 s2 display-card"></div>
      <a href="signup.html" target="_blank" class="btn btn-primary nav-link">Go</a>
         <div class="card cardHover">
  </div>
</div>
</div>
</body>
</html>
